body{
  font: 13px/1.5 arial, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
.container{
  width: 80%;
  overflow: hidden;
  margin: 0;
}
header{
  position: relative;
  background-color: #23160a;
  padding-top: 3px;
  min-height: 60px;
  height: 90px;
}
header a{
  color: #d9d9d9;
  text-decoration: none;
  text-align: center;
}
header #mainicon{
width: 15%;
  float: left;
  margin-left: 7px;
  margin-top: 12px;
}
header li{
  text-align: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header nav{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
header a:hover{
  text-decoration: underline;
  color: #ffffff;
}
header #search input{
  width:60%;
  padding: 11px;
  margin-top: 13px;
  margin-left: 45px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border: 0;
}
header #button{
  padding: 11px;
  border: 0;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background: #f6700f;
  color: #ffffff;
}
header #button:hover{
  background-color: #e16618;
}
header #cart{
  position: absolute;
left: 1150px;
bottom: 8px;
width: 5%;
float: right;
}
#about{
  background: url(../img/blur0.jpg) no-repeat 0 -400px;;
  font-family: verdana;
  font-size: 22px;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  text-align: center;
}
#big{
  width: 100%;
  height: 210px;
  font: 14px/1.8 arial, helvetica, sans-serif;
  background: linear-gradient(#23160a,#472d14);
}
.information{
  width: 40%;
  float: left;
  margin-left: 130px;
}
.information ul{
  list-style-type: none;
}
.information a{
  text-decoration: none;
  color: #d9d9d9;
}
.information a:hover{
  text-decoration: underline;
  color: #ffffff;
}
.information h2{
  margin-top: 20px;
  margin-bottom: -13px;
  color: #ffffff;
  margin-left: 40px;
}
#footer{
  height: 40px;
  text-align: center;
  font-size: 17px;
  background-color: #23160a;
  color: #d9d9d9;
  margin-top: -19px;
}
#footer p{
  padding-top: 8px;
}
#loginbtn{
  margin-top: 20px;
  padding: 5px;
}
.loginclass{
  padding-left: 30px;
  border: 2px solid #d9d9d9;
  border-radius: 35px;
  margin: 30px 500px 30px 500px;
  padding-bottom: 30px;
  background-color: #ffffff;

}
#login{
  padding: 0;
}
#login input{
  width: 80%;
  padding: 10px;
  margin-top: -15px;
}
#loginbtn{
  width:87.4%;
  padding: 10px;
  background: linear-gradient(#ff9f47,#f6700f);
  border-radius: 5px;
  color: #ffffff;
  border: 0;
  font-size: 15px;
}
#loginlogo{
  width: 50%;
  margin-left: -7px;
}
section #loginbtn1:hover{
  background-color: #eaeaea;
  border: .5px solid grey;
  padding: 11px;
}
section #loginbtn:hover{
  background: linear-gradient(#ff9f47,#e1670e);
}
#loginbtn1{
  width: 87.4%;
  padding: 10px;
  margin-top: -10px;
}
#loginfooter{
  text-align: center;
  font-size: 17px;
  background: linear-gradient(#d9d9d9,#ffffff);
  height: 50px;
}
#loginfooter p{
  padding-top: 13px;
}
